include README.rst
include LICENSE.txt
include MANIFEST.in
recursive-include docs *
prune docs/_build
recursive-include wpadmin/locale *
recursive-include wpadmin/static *
recursive-include wpadmin/templates *
recursive-exclude * *.py[co]
