{% extends "admin/base_site.html" %}
{% load i18n adminmedia wpadmin_tags %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password reset' %}</div>{% endblock %}

{% block title %}{% trans "Password reset" %} | {% wpadmin_render_custom_title %}{% endblock %}

{% block content %}

<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

<form action="" method="post">{% csrf_token %}

{% if form.errors %}
    <p class="errornote">
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<fieldset class="module aligned wide">

<div class="form-row {% if form.email.errors %}errors{% endif %}">
    <div>
        {{ form.email.errors }}
        <label class="required" for="id_email">{% trans 'Email address:' %}</label>{{ form.email }}
    </div>
</div>

</fieldset>

<div id="bottombar"><button type="submit" title="{% trans 'Reset my password' %}"><i class="fa fa-lg fa-floppy-o"></i> <span class="text">{% trans 'Reset my password' %}</span></button></div>

</form>

{% endblock %}
