{% extends "admin/base_site.html" %}
{% load i18n admin_static wpadmin_tags %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block content %}

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form action="" method="post">{% csrf_token %}

{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}

<fieldset class="module aligned wide">

<div class="form-row {% if form.email.errors %}errors{% endif %}">
    <div>
        {{ form.email.errors }}
        <label class="required" for="id_email">{% trans 'Email address:' %}</label>{{ form.email }}
    </div>
</div>

</fieldset>

<div id="bottombar"><button type="submit" title="{% trans 'Reset my password' %}"><i class="fa fa-lg fa-floppy-o"></i> <span class="text">{% trans 'Reset my password' %}</span></button></div>

</form>

{% endblock %}
