{% extends "admin/change_list.html" %}
{% load admin_list mptt_admin %}

{% block result_list %}
	<div class="actions-and-paginator{% if not cl.full_result_count %} no-objects{% endif %}">
		{% if action_form and cl.full_result_count %}{% admin_actions %}{% endif %}
		{% pagination cl %}
	</div>
	{% mptt_result_list cl %}
	<div class="actions-and-paginator">
		{% if action_form and cl.full_result_count %}{% admin_actions %}{% endif %}
		{% if cl.full_result_count %}{% pagination cl %}{% endif %}
	</div>
{% endblock %}
