#header {
	background: #E0B132;
}

#header #header-menu li.wp-has-not-submenu:hover > a {
	background-color: #AE8926;
	background-image: -moz-linear-gradient(bottom, #C89E2C, #AE8926);
	background-image: -webkit-linear-gradient(bottom, #C89E2C, #AE8926);
	background-image: -o-linear-gradient(bottom, #C89E2C, #AE8926);
	background-image: -ms-linear-gradient(bottom, #C89E2C, #AE8926);
	background-image: linear-gradient(bottom, #C89E2C, #AE8926);
}