#header {
	background: #9A43A0;
}

#header #header-menu li.wp-has-not-submenu:hover > a {
	background-color: #9A43A0;
	background-image: -moz-linear-gradient(bottom, #933999, #69296D);
	background-image: -webkit-linear-gradient(bottom, #933999, #69296D);
	background-image: -o-linear-gradient(bottom, #933999, #69296D);
	background-image: -ms-linear-gradient(bottom, #933999, #69296D);
	background-image: linear-gradient(bottom, #933999, #69296D);
}