@common-text-hover-color: #003366;
@common-submenu-link-color: #5B80B2;

// you can change menu and submenu width for top and left menu
@common-menu-and-submenu-width: 145px;

// you can change submenu background
.common-submenu-bg {
  background-color: #fff;
}

.common-submenu-link-hover {
  color: @common-text-hover-color;
  background-color: #EAF2FA;
}

.common-submenu-link-current {
  color: #333;
}

