// menus

@menus-bg: #e3e3e3;

@menus-link-color: #646464;
@menus-link-hover-color: #ea8932;

@menus-top-elem-hover-bg: #484848;

@menus-icon-color: #646464;
@menus-icon-hover-color: @menus-link-hover-color;

@menus-top-elem-current-color: #FFF;
@menus-top-elem-current-bg: #ea8932;

@submenus-bg: #484848;

@submenus-link-color: #a7a7a7;
@submenus-link-hover-color: @menus-link-hover-color;

@submenus-current-link-color: #FFF;

@submenus-head-color: #FFF;

