{% load wpadmin_menu_tags i18n %}
{% if is_user_allowed and menu.children %}
	<ul id="adminmenu" role="navigation">
		<li class="hide-if-no-js wp-menu-tool" id="collapse-menu" data-text-collapsed="{% trans "Expand menu" %}" data-text-expanded="{% trans "Collapse menu" %}">
			<div class="wp-menu-tool-button" title="{% trans "Collapse menu" %}">
				<i class="icon-chevron-left"></i>
			</div>
			<span>{% trans "Collapse menu" %}</span>
		</li>
		<li class="hide-if-no-js wp-menu-tool" id="pin-menu" data-text-pinned="{% trans "Unpin menu" %}" data-text-unpinned="{% trans "Pin menu" %}">
			<div class="wp-menu-tool-button" title="{% trans "Pin menu" %}">
				<i class="icon-pushpin"></i>
			</div>
			<span>{% trans "Pin menu" %}</span>
		</li>
		{% for item in menu.children %}
			{% wpadmin_render_left_menu_top_most_item item menu.icons %}
		{% endfor %}
		<li class="wp-menu-separator"><div class="wp-separator"></div></li>
	</ul>
{% endif %}
