{% load wpadmin_menu_tags i18n %}
{% spaceless %}
{% if is_user_allowed and not item.is_empty %}
	<li class="{% if is_first %}wp-first-item{% endif %}{% if is_last %} wp-last-item{% endif %}{% if not item.enabled %} wp-disabled{% endif %}{% if is_selected %} wp-current{% endif %}{% if item.css_classes %} {{ item.css_classes|join:' ' }}{% endif %}{% if item.add_url %} wp-has-add-url{% endif  %}{% if item.children and item.enabled %} wp-has-submenu{% endif %}">
		<a href="{% if item.url and item.enabled %}{{ item.url }}{% else %}javascript:;{% endif %}"{% if item.description %} title="{{ item.description }}"{% endif %}{% if item.accesskey %} accesskey="{{ item.accesskey }}"{% endif %} class="{% if request.path == item.url %}wp-current{% endif %}">{{ item.title }}</a>
		{% if item.add_url %}<a title="{% trans "Add" %}" class="wp-add-url{% if request.path == item.add_url %} wp-current{% endif %}" href="{{ item.add_url }}">+</a>{% endif %}
		{% if item.is_bookmark %}<a title="{% trans "Remove" %}" class="wp-add-url" href="">-</a>{% endif %}
		{% if item.children and item.enabled %}
		<ul class="wp-submenu">
			{% for child_item in item.children %}
				{% wpadmin_render_top_menu_item child_item forloop.first forloop.last %}
			{% endfor %}
		</ul>
		{% endif %}
	</li>
{% endif %}
{% endspaceless %}

