{% load wpadmin_menu_tags %}
{% spaceless %}
{% if is_user_allowed and not item.is_empty %}
	{% if item.is_bookmarks %}
		{% wpadmin_render_bookmarks item is_first is_last is_selected is_user_allowed %}
	{% else %}
		<li class="menu-item{% if is_first %} wp-first-item{% endif %}{% if is_last %} wp-last-item{% endif %}{% if item.children %} wp-has-submenu{% else %} wp-has-not-submenu{% endif %}{% if not item.enabled %} wp-disabled{% endif %}{% if is_selected %} wp-menu-open{% else %} wp-menu-not-open{% endif %}{% if item.css_classes %} {{ item.css_classes|join:' ' }}{% endif %}{% if icon %} with-icon{% endif %}">
			<a href="{% if item.url and item.enabled %}{{ item.url }}{% else %}javascript:;{% endif %}"{% if item.description %} title="{{ item.description }}"{% endif %}{% if item.accesskey %} accesskey="{{ item.accesskey }}"{% endif %}>{% if icon %}<i class="wp-menu-image {{ icon }}"></i>{% endif %}{{ item.title }}</a>
			{% if item.children and item.enabled %}
				<ul class="wp-submenu">
					{% for child_item in item.children %}
						{% wpadmin_render_top_menu_item child_item forloop.first forloop.last %}
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endif %}
{% endif %}
{% endspaceless %}
