{% load i18n wpadmin_menu_tags %}{% load url from future %}
{% if is_user_allowed %}
	<li class="menu-item user-tools wp-has-submenu{% if is_first %} wp-first-item{% endif %}{% if is_last %} wp-last-item{% endif %}{% if item.css_classes %} {{ item.css_classes|join:' ' }}{% endif %}">
		<a href="{% if item.url %}{{ item.url }}{% else %}javascript:;{% endif%}">
	    	{% trans 'Welcome,' %}
	    	<strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>.
	    	<img class="wp-small-gravatar" src={% gravatar_url user 16 %} width="16" height="16" />
	    </a>
		<ul class="user-links wp-submenu">
			<li class="user-info">
				<a href="{% if item.url %}{{ item.url }}{% else %}javascript:;{% endif%}">
					<img class="wp-big-gravatar" src={% gravatar_url user 64 %} width="64" height="64" />
					<span class="display-name">{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</span>
				</a>
			</li>
		    <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a></li>
		    <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
		    {% url 'django-admindocs-docroot' as docsroot %}
		    {% if docsroot %}
		        <li class="separated"><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
		    {% endif %}
		</ul>
	</li>
{% endif %}