@import "../../../../static/wpadmin/less/mixins.less";
@import "../../../../static/wpadmin/less/colors.less";
@import "forms.less";
@import "buttons.less";
@import "messages.less";
@import "changelist.less";
@import "changeform.less";
@import "dashboard.less";

body.wp-no-breadcrumbs {
  .breadcrumbs { display: none !important; }
}

a:link,
a:visited {
  color: @link-color;
}

a:hover {
  color: @link-hover-color;
}

#content {
  margin-left: 2em;
  margin-right: 2em;
}

h1 {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
  color: #464646;
  font-size: 23px;
  line-height: 29px;
  padding: 10px 15px 10px 0;
  font-weight: normal;
  text-shadow: 0 1px 0 #FFF;

  a.add-new {
    border-radius: 3px;
    border: 0 none;
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 4px;
    padding: 3px 8px;
    position: relative;
    text-decoration: none;
    top: -3px;
    background: #F1F1F1;
  }
}

.addlink {
  padding-left: 0;
  background: none;

  &:before {
    content: "\f067";
    font-family: FontAwesome;
    font-size: 14px;
    margin-right: 0.2em;
    position: relative;
    top: 1px;
  }
}

.changelink {
  padding-left: 0;
  background: none;

  &:before {
    content: "\f044";
    font-family: FontAwesome;
    font-size: 14px;
    margin-right: 0.2em;
    position: relative;
    top: 1px;
  }
}

.actionlist {
  .addlink {
    &:before {
      color: #666;
    }
  }

  .changelink {
    &:before {
      color: #666;
    }
  }

  .deletelink {
    background: none;
    padding-left: 0;

    &:before {
      content: "\f00d";
      font-family: FontAwesome;
      font-size: 14px;
      margin-right: 0.2em;
      position: relative;
      top: 1px;
      color: #666;
    }
  }
}