ul.messagelist {
  padding-bottom: 15px;

  li {
    border-style: solid;
    border-width: 1px;
    .border-radius(3px);
    padding: 10px 10px 10px 35px;
    background-position: 10px 10px;
    border-color: #089614;
    background-color: #CCFFD4;
    color: #333;

    &.warning {
      border-color: #FFC000;
      background-color: #FFFFCC;
    }

    &.error {
      border-color: #CC0000;
      background-color: #FFEBE8;
    }
  }
}